<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82417329557-0k6ttjvpdejanlkrip09iqicnh24jr2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82417329557-0k6ttjvpdejanlkrip09iqicnh24jr2c</string>
	<key>API_KEY</key>
	<string>AIzaSyAGtSa6WvQbRmw3R_wGt9x367XSKpsO1as</string>
	<key>GCM_SENDER_ID</key>
	<string>82417329557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ero.kinoko</string>
	<key>PROJECT_ID</key>
	<string>kinoko-5ea1d</string>
	<key>STORAGE_BUCKET</key>
	<string>kinoko-5ea1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82417329557:ios:72f360243b42818881029c</string>
	<key>DATABASE_URL</key>
	<string>https://kinoko-5ea1d.firebaseio.com</string>
</dict>
</plist>